node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
.DS_Store
*.log
.vscode
.idea
*.swp
*.swo
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
*.pid
*.seed
*.pid.lock
README.md
Dockerfile
docker-compose.yml
.dockerignore
.github
.gitlab-ci.yml
.travis.yml
.taskmaster